*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
}

h1{
    font-size: 12vw;
}
p{
    margin: 4px 0 20px 0;
    font-size: 2rem;
}
button{
    background-color: aqua;
    border: none;
    border-radius: 40px;
    padding: 16px 20px;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}