* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    width: 100%;
    height: 100vh;
    background: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 5rem;
}

p {
    margin: 4px 0 20px 0;
    font-size: 2rem;
}

button {
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 16px 20px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

body {
    background-color: #dedede;
}

/* 
is-changing: Adicionado antes de iniciar a animação. Removido após todo o processo de animação. Usado para mostrar o estado de carregamento. */
html.is-changing body {
    overflow: hidden;
}

main {
     transition: all 0.6s cubic-bezier(.77,0,.18,1);
}

html.is-animating.is-leaving .transition-fade { 
    transform: scaleY(-0.75);
    opacity: 0;
    filter: blur(10px);
}

html.is-animating.is-rendering .transition-fade {
    opacity: 0;
    transform: scaleY(0.75);
    filter: blur(10px);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #200e52;
    inset: 0;
    transform: translateY(-100%);

}
html.is-changing .overlay {
    transition: all 0.5s;
}
html.is-animating .overlay {
    transform: translateY(0);
}

html.is-rendering .overlay {
    transform: translateY(100%);
}